.form-container {
  width: 100vw;
  max-width: 500px;
  padding: 8px;
}

.form-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.form-field-input {
  width: 60%;
  padding: 8px;
  font-size: 16px;
}

.form-submit-btn-container {
  padding: 8px;
  text-align: center;
}

.form-submit-btn {
  padding: 8px;
  font-size: 24px
}

.form-submit-history-container {
  height: 80px;
  overflow-y: auto;
}

.form-submit-history {
  padding: 4px;
}

.form-submit-error-container {
  margin: 16px 0 0 0;
  color: red;
}