* {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color-scheme: light dark;
  color: #242424;
  background-color: #c9c9c9;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

input {
  border-width: 2px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #c9c9c9;
    background-color: #242424;
  }
}